*, ::before, ::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.header-main {
    text-align: center;
    background-color: lightskyblue;
    padding: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}


.sketch-container {
    width: 700px;
    height: 700px;
    display: grid;
    border: 5px solid burlywood;
    float: right;
}

.grid-change-btn {
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.footer-info {
    text-align: center;
    padding-top: 2rem;
}